In [170]:
#Buscar Dolar via API
import requests
import pandas as pd

df = pd.read_json('https://economia.awesomeapi.com.br/last/USD-BRL')

display(df)

df2 = df.transpose ()

display(df2)

type(df2)

type(df)

result = df.loc[["ask"],["USDBRL"]]

series = df.loc[["ask"],["USDBRL"]].squeeze()

display (result)

display (series)

dolar = df["USDBRL"].values[0]

print('o valor atual do dolar é {}.'.format(dolar))

df.columns

df.values

                                      USDBRL
ask                                   5.6509
bid                                   5.6487
code                                     USD
codein                                   BRL
create_date              2021-10-22 17:59:55
high                                  5.7544
low                                   5.6218
name         Dólar Americano/Real Brasileiro
pctChange                              -0.14
timestamp                         1634936395
varBid                               -0.0079

,ask,bid,code,codein,create_date,high,low,name,pctChange,timestamp,varBid
USDBRL,5.6509,5.6487,USD,BRL,2021-10-22 17:59:55,5.7544,5.6218,Dólar Americano/Real Brasileiro,-0.14,1634936395,-0.0079

     USDBRL
ask  5.6509

'5.6509'

o valor atual do dolar é 5.6509.

array([['5.6509'],
       ['5.6487'],
       ['USD'],
       ['BRL'],
       ['2021-10-22 17:59:55'],
       ['5.7544'],
       ['5.6218'],
       ['Dólar Americano/Real Brasileiro'],
       ['-0.14'],
       ['1634936395'],
       ['-0.0079']], dtype=object)

In [206]:
#Buscar Dolar via API
import requests
import pandas as pd

reais = float(input('Quanto reais você deseja converter para dolar? '))

df = pd.read_json('https://economia.awesomeapi.com.br/last/USD-BRL')

df2 = df.transpose ()

df2['ask'] = df2['ask'].astype('float64')

##display(df2)

dolar = df2["ask"].values[0]

##display (dolar)

##df2.columns

##df2.info()

print('O dolar hoje está {:.2f} reais.'.format(dolar))

print('O seu valor em dolar seria {} reais.'.format(dolar*reais))

Quanto reais você deseja converter para dolar? 200
O dolar hoje está 5.65 reais.
O seu valor em dolar seria 1130.18 reais.